/* primeras seccion */
.section {
    background-color: rgb(255, 255, 255);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
    background-position: center; /* Centra la imagen */
    color: rgb(255, 255, 255); /* Color del texto */
    padding: 10px; /* Ajusta el espaciado interior de la sección según sea necesario */
    margin: 0;
  
  }
  
  .content {
    background-color: rgb(255, 255, 255);
    border: solid gray 1px;
  padding: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 1300px; /* Ancho máximo del contenido */
    margin: 0 ; /* Centra el contenido horizontalmente */ }
  
  
  
  
  
  /* carrusel  es de la segunda seccion*/
  
  .carousel {
    position: relative;
    max-width: 100%;
    margin: 0; /* Establece el margen en 0 */
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
  }
  
  .carousel-images img {
    width: 100%;
    display: block;
  }
  
   button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
  }  
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
 
  
  /* seccion 3 */
  .produ1{
   display: flex;
   justify-content: center;
    margin: 0px;
    /* font-family: cursive; */
    color: rgb(0, 0, 0);
    background-color: white;
  }
  .produ2{
    background-color: white;
  }
  
  
  
  .seccioncuatro{
    width: 100%;
    display: flex;
    justify-content: space-around;
  
  }