.link{
    background-color: rgb(250, 247, 247);
    display: flex;
 justify-content: space-evenly;
   
    width: 100%;
    
   
    

}
.link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 24px;
}


.carousel {
    position: relative;
    max-width: 100%;
    margin: 0; /* Establece el margen en 0 */
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
  }
  
  .carousel-images img {
    width: 100%;
    display: block;
  }
  
      
   
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

 .linkkk{
    text-decoration: none;
    color: black;
    
    
 }



 /* electrodomesticos */
 .seccionelectrodomesticos{

  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
  width: 100%;
  height: 500px;


 }


 .link2{
  text-decoration: none;
 }
  
  .booton{
    background-color: transparent;
    color: rgb(0, 0, 0);
   font-size: smaller;

 
 
 } 
 
 .Probandocarrito{
  width: 10px;
  height: 10px;
 }